.container {
    display:grid;
    width:100vw;
    height:99vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    background-image:url("shelf/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property:background-image;
    transition-duration:200ms;

}
.element{
    background-color:transparent;
    border-style:solid;
    border-color:black;
    border-width: 0.5vmax;
    padding:2vmax;
    transition-property: background-color;
    transition-duration: 500ms;
}
h1{
    color:black;
    font-family: uniwars, sans-serif;
    font-weight: 400;
    font-style: normal;
    visibility: hidden;
    transition-property: visibility;
    transition-duration: 200ms;
    text-decoration: overline;
}
.element.name, .element.name h1{
    background-color:lightgray;
    visibility: visible;
}
.element.about:hover, .element.knitting1:hover, .element.weaving1:hover,
.element.dobby:hover, .element.pants:hover, .element.venice:hover,
.element.lichen:hover{
    background-color:white;
}
.element:hover h1{
    visibility: visible;
}
.element.name:hover h1{
    color:teal;
}



