h2{
    color:transparent;
}
h1{
    text-align: center;
    font-size:2vmax;
    margin-left: 1vw;
    font-family: uniwars, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    text-decoration: overline;
}
p{
    font-size:1vmax;
    position:absolute;
    margin:3vw;
    background-color: transparent;
    display:none;
    font-family: video, serif;
    font-weight: 400;
    font-style: normal;
    color:gray;
}
.button{
    z-index:2;
    position:absolute;
    width:24vmax;
    height:0.5vmax;
    background-color:gray;
    border-style:solid;
    border-color:black;
}
.button:hover{
    background-color:yellow;
}
.slideshow:hover{
    opacity:50%;
}
.position{
    z-index:1;
    position: absolute;
    width: 24vmax;
    height: 14vmax;
    border-style:solid;
    border-color:black;
}
.position.D, .slideshow.d{
    height:24vmax;
}
.position.D p{
    bottom:0;
}
.position.D p{
    align-self:flex-end;
}

.button.dd, .button.ee{
    height:0.5vmax;
    width:24vmax;
}
.position.E, .slideshow.e{
    height:22vmax;

}

.position.F, .position.G, .slideshow.f, .slideshow.g{
    height:6vmax;

}

.slideshow{
    overflow:scroll;
    z-index:0;
    position: absolute;
    width: 24vmax;
    height: 22vmax;
    border-style:dotted;
    border-color:thistle;
}

img{
    display:inline-block;
    max-width:100%;

}

.A,.a, .aa{

    top:5.5vmax;
    right:50.2vmax;
}

.B, .b, .bb{
    top:5.5vmax;
    right:26vmax;
}

.C, .c, .cc{
   
    top:19.5vmax;
    right:50.2vmax;
}

.D, .d, .dd{
    top:19.5vmax;
    right:26vmax;
}

.E, .e, .ee{
    top:33.5vmax;
    right:50.2vmax;
}

.F, .f, .ff{
    top:43.5vmax;
    right:26vmax;
}

.G, .g, .gg{
    top:49.5vmax;
    right:26vmax;
}