.container {
    display:grid;
    width:100vw;
    height:99vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 6fr;

}
img{
    margin-left:5vmax;
    margin-top:-10px;
    margin-bottom:-10px;
    max-width:100%;
    max-height:100%;
}
.description{
    position:fixed;
}
.element{
    background-color:white;
    overflow:scroll;
    padding:2vmax;

}
.element.image{
    grid-area: 2 / 1 / span 1/ span 2;
}
.element.name, .element.about{
    border-style:solid;
    border-color:black;
    border-width: 0.5vmax;
}

.element.name:hover h1, .element.about:hover h1{
    color:lightgray;
}
h1{
    color:black;
    font-family: uniwars, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: overline;
    transition-property: color;
    transition-duration: 200ms;
}
p{
    font-family: industry-inc-base, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:30px;
}